.chatroom-container {
    background-color: rgb(107, 105, 101);
    max-height: 600px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
  }

.footer-chat{
    background-color: rgb(71, 70, 69);
    min-height: 140px;
    padding-top: 20px;
    
}